<footer>
    <div class="superu" >
        <a href="https://www.facebook.com/superusaintejammesursarthe">
            <img src="{{ "img/superu.png" | absURL }}" alt="Logo du Super U de Sainte-Jamme-sur-Sarthe">
        </a>
    </div>
    <div class="neuville-sur-sarthe" >
        <a href="http://www.neuville-sur-sarthe.fr/">
            <img src="{{ "img/logo-neuville-sur-sarthe.png" | absURL }}" alt="Logo de la mairie de Neuville-sur-Sarthe">
        </a>
    </div>
    <div class="csj72" >
        <a href="https://www.judojujitsusarthe.com/">
            <img src="{{ "img/logo-csj72.png" | absURL }}" alt="Logo du comité départemental Judo de la sarthe">
        </a>
    </div>
    <div class="ffjda">
        <a href="https://www.ffjudo.com/">
            <img src="{{ "img/ffjudo.png" | absURL}}" alt="Logo de la Fédération Française de Judo">
        </a>
    </div>
</footer>
<script src="{{ "js/lazysizes.min.js" | absURL }}" async=""></script>
<script src="{{ "js/modernizr-custom.js" | absURL}}"></script>
