<footer class="flex-column flex-sm-row d-flex justify-content-center justify-content-sm-around py-4">
    <div class="py-1 order-2 order-sm-1 mx-auto">
        <a href="https://www.facebook.com/superusaintejammesursarthe">
            <img src="{{ "img/superu.png" | absURL }}" alt="Logo du Super U de Sainte-Jamme-sur-Sarthe">
        </a>
    </div>
    <div class="py-1 order-1 order-sm-2 mx-auto">
        <a href="http://www.neuville-sur-sarthe.fr/">
            <img src="{{ "img/logo-neuville72.jpg" | absURL }}" alt="Logo de la mairie de Neuville-sur-Sarthe">
        </a>
    </div>
    <div class="py-1 order-2 order-sm-3 mx-auto">
        <a href="https://www.judojujitsusarthe.com/">
            <img src="{{ "img/logo-csj72.png" | absURL }}" alt="Logo du comité départemental Judo de la sarthe">
        </a>
    </div>
    <div class="py-1 order-3 mx-auto">
        <a href="https://www.ffjudo.com/">
            <img src="{{ "img/ffjudo.png" | absURL}}" alt="Logo de la Fédération Française de Judo">
        </a>
    </div>
</footer>
<script src="{{ "js/lazysizes.min.js" | absURL }}" async=""></script>
<script src="{{ "js/jquery-3.5.1.slim.min.js" | absURL}}"></script>
<script src="{{ "js/popper.min.js" | absURL}}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL}}"></script>
<script src="{{ "js/modernizr-custom.js" | absURL}}"></script>
