<footer class="flex-column flex-sm-row d-flex justify-content-center justify-content-sm-around py-4">
    <div class="py-1 order-2 order-sm-1">
        <a href="https://www.facebook.com/superusaintejammesursarthe">
            <img src="{{ "img/superu.png" | absURL }}">
        </a>
    </div>
    <div class="py-1 order-1 order-sm-2">
        <a href="http://www.neuville-sur-sarthe.fr/">
            <img src="{{ "img/logo-neuville72.jpg" | absURL }}">
        </a>
    </div>
    <div class="py-1 order-3">
        <a href="https://www.ffjudo.com/">
            <img src="{{ "img/ffjudo.png" | absURL}}">
        </a>
    </div>
</footer>
<script src="{{ "js/jquery-3.5.1.slim.min.js" | absURL}}"></script>
<script src="{{ "js/popper.min.js" | absURL}}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL}}"></script>
<script src="{{ "js/modernizr-custom.js" | absURL}}"></script>
