<div class="flex-column flex-md-row d-flex  header">
    <a class="logo" href="/">
        <picture>
            <source type="image/webp" srcset="{{ "img/logo-judo.webp" | absURL}}">
            <source type="image/jpeg" srcset="{{ "img/logo-judo.jpg" | absURL}}">
            <img class="u-logo" src="{{ "img/logo-judo.jpg" | absURL}}"></a>
        </picture>
        <div itemscope itemtype="https://schema.org/Organization" class="h-card flex-lg-grow-1 mx-2">
        <div itemprop="name" class="p-name site-title">
            Judo Club de Neuville sur Sarthe
        </div>
        <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress" class="p-street-address">Rue du Stade</span><br/>
            <span itemprop="postalCode" class="p-postal-code">72190</span>
            <span itemprop="addresslocality">Neuville sur Sarthe</span>
        </span>
    </div>
    <nav class="sidebar-nav text-light nav align-self-end">
        <a href="/" title="Accueil" class="nav-link align-self-end text-light mx-2">
            Accueil
        </a>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" title="{{ .Title }}" class="nav-link align-self-end text-light mx-2">
            {{- .Title -}}
        </a>
        {{ end }}
        <a href="https://www.facebook.com/Judoclub.NeuvillesurSarthe72190/" title="Page Facebook du club" class="nav-link align-self-end text-light mx-2 logo-facebook"    >
            {{ partial "fontawesome.html" "facebook-square" }}
        </a>
    </nav>

</div>
