<!DOCTYPE html>
<html lang="fr" class="no-js" style="height: 100%">
{{- partial "head.html" . -}}

<body style="height: 100%">
    <div id="body">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "hero.html" . -}}
        <div id="frontpage">
            <div id="judo">
                    <h1>Judo</h3>
                            <p>Cours de judo enfant à partir de 4 ans.</p>

                            <p>Cours de judo adulte tous niveaux</p>


                            <ul>
                                <li>Amitié</li>
                                <li>Courage</li>
                                <li>Sincérité</li>
                                <li>Honneur</li>
                                <li>Modestie</li>
                                <li>Respect</li>
                                <li>Contrôle de soi</li>
                                <li>Politesse</li>
                            </ul>
            </div>
            <div id="taiso" >
                    <h1>Taïso</h3>
                        <p>Entretient et préparation physique</p>
                        <p>à partir de 14 ans</p>
                        <ul>
                            <li>Endurance</li>
                            <li>Cardio</li>
                            <li>Renforcement musculaire</li>
                            <li>Souplesse</li>
                            <li>Coordination</li>
                        </ul>
            </div>
        </div>
    </div>
    <script src="{{ "js/popper.min.js" | absURL}}"></script>
    <script src="{{ "js/modernizr-custom.js" | absURL}}"></script>
</body>

</html>
