
#body {
    height: 100%;
    display: grid;
    grid-template:
        "header header" 200px 
        "frontpage frontpage" ;
}

#content {
    background-color: white;
}


.h-card {}

.card-item {
    padding: 1em;
    position: relative;
}

.card-item h3 {
    margin: 1em 0;
    text-shadow: 2px 2px #555;
}

.card-item div {
    text-shadow: 2px 2px #555;
}


.no-webp .eveil,
.no-js .eveil {
    background-image: url('../img/eveil-cjpeg-q80.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp .taiso,
.no-js .taiso {
    background-image: url('../img/taiso-cjpeg-q75.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp .adulte,
.no-js .adulte {
    background-image: url('../img/adultes-cjpeg-q84.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.webp .eveil {
    background-image: url('../img/eveil-cjpeg-q80.webp');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.webp .taiso {
    background-image: url('../img/taiso-cjpeg-q75.webp');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.webp .adulte {
    background-image: url('../img/adultes-cjpeg-q84.webp');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.inline-svg {
    display: inline-block;
    position: relative;
}



.nojs .img .lazyload {
    display: none;
}

.img svg,
.img img {
    margin: 0;
    width: 100%;
    height: auto;
}

.img {
    position: relative;
}



body div.hidden {
    display: none !important;
}

#info {
    display: flex;
    flex-direction: column;


}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Single */
section#main {
    max-width: 1140px;
    width: 100%;
    justify-content: space-around;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

section#main article {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

section#main aside {
    position: sticky;
    margin-top: 7.5rem;
    top: 10px;
    align-self: start;
    padding-left: 15px;
    padding-right: 15px;
}




@media (max-width: 991px) {
    header {
        flex-direction: row;
    }

    #featured {
        flex-direction: column;
    }
}

/* Extra small: <576px */
/* SM: >= 576px */
@media (min-width: 576px) {
    section#main {
        flex-direction: row;
    }

    .row {
        flex-direction: row;
    }

    .col {
        padding: 0.4rem;
    }
}


/* XL: >= 1200px */



